/* Base Application Styles */
@font-face {
  font-family: "icons-turn-arrow";
  src: url("../fonts/icons/turn-arrow.eot") format("embedded-opentype"),
       url("../fonts/icons/turn-arrow.woff") format("woff"),
       url("../fonts/icons/turn-arrow.ttf") format("truetype"),
       url("../fonts/icons/turn-arrow.svg") format("svg");
}
body,html{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  background: #222;
}
#app {
  width: 100%;
  height: 100%;
  background-image: url('../images/1.jpg');
  background-size: cover;
}
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.stage{
  height: 100%;
  width: 100%;
  background-color: tomato;
}
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #DDDDDD;
}
.img-sec .is-inverse{
  transform: translate(320px) rotateY(180deg);
}
.img-figure{
  position: absolute;
  width: 320px;
  height: 360px;
  margin: 0;
  box-sizing: border-box;
  padding: 40px;
  background-color: #fff;
  cursor: pointer;
  transition: left .6s ease-in-out,top .6s ease-in-out,transform 0.6s ease-in-out;;
  transform-origin: 0 50% 0;   /*旋转中心线是左线*/
  transform-style: preserve-3d;
}
.img-figure img{
  height: 240px;
  width: 240px;
}
.img-figure .img-title{
  margin-top: 20px;
  color: #a7a0a2;
  font-size: 14px;
}
figcaption{
  text-align: center;
}
/*.is-inverse {
  background-color: #555;

  transform: rotateY(180deg);
}*/
.controller-nav{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  text-align: center;
  margin: 0 auto;
}
.controller-nav .nav-con{
  display: inline-block;
  cursor: pointer;
  transform: scale(0.5);
  height: 30px;
  width: 30px;
  background-color: #eee;
  transition: all 0.6s ease-in-out;
  margin: 0 auto;
  border-radius: 15px;
  margin-left: 15px;
}
.controller-nav .nav-con::after{
  color: #fff;
  font-family: "icons-turn-arrow";
  font-size: 80%;
  line-height: 30px;

  content: "\e600";

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}
.controller-nav .isCenter{
  transform: scale(1);
  background: #1296db;
}
.controller-nav .isInverse{
  transform: rotateY(180deg);
}
.img-back{
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 50px 40px;
  overflow: auto;

  color: #a7a0a2;
  font-size: 22px;
  line-height: 1.25;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;

  /*先开始时.img-back，旋转了180度，因为translateZ(1px)，位于正面图像的下方*/
  /*当.img-figure旋转时，.img-back又旋转了180度，旋转度数为360,因为translateZ(1px)，位于正面图像的上方*/
  transform: rotateY(180deg) translateZ(1px);
  /*translateZ(1px) 是为了解决Safari 的bug*/
  backface-visibility: hidden;
}

/* 登录界面 */
.login-form-wrapper{
  width: 600px;
  padding-top: 200px;
  padding-left: 20px;
}
